<div id="top-container">
	<div id="top" class="center">
		<div id="top-right"><a id="search" href="#"><img src="http://www.brianchoi.net/img/search.png" alt="Search"></a></div>
		<div id="top-left"><a id="home" href="#"><img src="http://www.brianchoi.net/img/house.png" alt="Home"></a></div>
		<span id="slider-container"><span style="font-size: 14px; margin: 0 5px;">a</span><input id="font-slider" type="range" min="10" max="26" step="4" value="18"><span style="font-size: 22px; margin: 0 5px;">a</span></span>
	</div>
</div>