html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	overflow: hidden;

	font-family: 'Lato';
	font-size: 12px;
}

#div-overlay {
	display: none;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	padding: 2vh;
	border-radius: 5vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;

	font-family: 'Helvetica', 'Arial', sans-serif;
	text-align: center;
	color: #EEEEEE;
	overflow-y: scroll;
}

#div-overlay::-webkit-scrollbar {
	display:  none;
}

#div-overlay .title {
	font-size: 6em;
	margin-bottom: 0.5em;
	-webkit-text-stroke-width: 2px;

}

#div-overlay .instructions {
	font-size: 2em;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke-color: #CCCCCC;
}

#div-overlay .sharon {
	font-weight: bold;
	-webkit-text-fill-color: #EEEEEE;
    -webkit-text-stroke-color: #8b34c9;
}

#div-overlay .brian {
	font-weight: bold;
	-webkit-text-fill-color: #eeeeee;
    -webkit-text-stroke-color: #c93434;
}

#div-overlay .spacer {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}